@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Regular.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Medium.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Light.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Bold.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Black.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "FF_DIN_Round_Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "FF_DIN_Round_Pro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.btn {
  display: block;
  text-transform: uppercase;
  color: #000;
  border: 2px solid #000;
  border-radius: 26px;
  padding: 18px 44px;
  font-size: 17px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  letter-spacing: 0.06em;
}

.btn:hover {
  text-decoration: none;
  background-color: #f38bae;
  color: #000;
  border-color: #006089;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 150px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list li {
  margin: 0px 60px 0px 0px;
}

.menu__list li:last-child {
  margin: 0;
}

.menu__list li.active a {
  color: #000;
}

.menu__list li.active a::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #F95959;
  width: 25px;
  height: 2px;
}

.menu__link {
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding-bottom: 8px;
}

.menu__link:hover {
  color: #000;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}

.intro__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 120px;
}

.intro__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info__title {
  margin-bottom: 46px;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0.06em;
  color: #000;
}

.info__text {
  margin-bottom: 44px;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.info__btn {
  background-color: #f38bae;
  color: #fff;
}

.about {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__picture {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: 40px;
}

.about__title {
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__text {
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin: 0;
}

.cats {
  background-color: #f6f6f6;
  margin-top: 80px;
  padding: 70px 0;
}

.cats__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cats__title {
  text-align: center;
  margin-bottom: 66px;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
}

.cats__slider {
  width: 100%;
  margin-bottom: 46px;
}

.cats__btn {
  background-color: #f38bae;
  color: #fff;
}

.slider-cats {
  position: relative;
  padding: 0 30px 0 30px;
}

.slider-cats__item {
  margin: 0 auto;
  width: 270px;
}

.slider-cats .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-cats .slick-list {
  overflow: hidden;
}

.slider-cats .slick-arrow {
  margin: -30px 0px 0px 0px;
  position: absolute;
  font-size: 0;
  top: 50%;
  z-index: 10;
  width: 50px;
  height: 50px;
  border: 2px solid #f38bae;
  border-radius: 50%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.slider-cats .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/icons/left.png") center no-repeat;
}

.slider-cats .slick-arrow.slick-prev:hover {
  background-color: #f38bae;
}

.slider-cats .slick-arrow.slick-next {
  right: 0;
  background: url("../img/icons/right.png") center no-repeat;
}

.slider-cats .slick-arrow.slick-next:hover {
  background-color: #f38bae;
}

.cat-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  cursor: pointer;
}

.cat-card:hover {
  -webkit-box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 20px -15px rgba(0, 0, 0, 0.75);
}

.cat-card:hover .cat-card__btn {
  background-color: #f38bae;
}

.cat-card__photo {
  height: 270px;
  width: 100%;
  margin-bottom: 30px;
}

.cat-card__name {
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 24px;
}

.cat-card__btn {
  margin-bottom: 34px;
}

.slider-wrapper {
  padding: 20px 0;
}

.help {
  padding-top: 60px;
}

.help__title {
  max-width: 316px;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto 70px auto;
  text-align: center;
}

.help__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin-bottom: 80px;
}

.help-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help-item__img {
  max-width: 50px;
  max-height: 60px;
  margin-bottom: 25px;
}

.help-item__description {
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  background-color: #f6f6f6;
  padding: 75px 0;
}

.donation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation__picture {
  width: 40%;
  min-height: 250px;
  margin-right: 60px;
}

.donation__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.donation-description__title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 25px;
}

.donation-description__bank {
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 13px;
}

.donation-description__card {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #f38bae;
  padding: 17px 15px 17px 59px;
  margin-bottom: 25px;
  border-radius: 9px;
}

.donation-description__card:before {
  content: "";
  position: absolute;
  left: 14px;
  top: 50%;
  height: 24px;
  width: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/credit_card.png") 0 0 no-repeat;
}

.donation-description__text {
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #b2b2b2;
}

.footer {
  padding: 75px 0;
  background-color: #000000;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__location {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.contacts__email:before {
  background: url("../img/icons/email.png") 0 0 no-repeat;
}

.contacts__phone:before {
  background: url("../img/icons/phone.png") 0 0 no-repeat;
}

.location__spot:before {
  background: url("../img/icons/spot.png") 0 0 no-repeat;
}

.footer-title {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: #fff;
}

.footer-text {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 55px;
  margin-bottom: 35px;
}

.footer-text:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
